-var i=0;
-
	var gralText = {
		name: ['eih', 'edad'],
		text: ['Dia EIH','Edad'],
	};
-
	var gralSelect = {
		name: ['sexo'],
		text: ['Sexo'],
		value: ['masculino', 'femenino']
	}
-
	var fisioText = {
		name: [
			'p_sistolica',
			'p_diastolica', 
			'f_cardiaca', 
			's_oxigeno',
			'f_respiratoria',
			'temperatura'
				],
		text: [
			'Presión arterial sistólica',
			'Presión arterial diastólica',
			'Frecuencia cardíaca',
			'Saturación de oxígeno',
			'Frecuencia respiratoria',
			'Temperatura'
			],
		unit: [
			'mmHg',
			'mmHg',
			'lpm', 
			'%', 
			'rpm', 
			'°C'
			],
	};
-
	var historySelect = {
		name: [
			'sobrepeso',
			'obesidad',
			'dm',
			'has',
			'epoc',
			'erc',
			'cancer',
			'fiebre',
			'disnea',
			'ox_suplementario',
			'ven_mecanica',
			'est_hemodinamico',
			'req_aminas',
			'mf_sintomatico',
			'mf_antibiotico',
			'mf_antivirales',
			'mf_otros',
			],
		text: [	
			'Sobrepeso',
			'Obesidad', 
			'Diabetes mellitus',
			'Hipertension Arterial Sistemica',
			'Enfermedad Pulmonar Obstructiva Crónica',
			'Enfermedad Renal Crónica',
			'Cáncer',
			'Fiebre >38ºC',
			'Disnea',
			'Oxígeno suplementario',
			'Ventilación mecánica',
			'Estado hemodinámico',
			'Requerimiento de aminas',
			'Manejo farmacológico [Sintomático (AINES, salicilatos, etc.).]',
			'Manejo farmacológico [Antibiótico]',
			'Manejo farmacológico [Antivirales]',
			'Manejo farmacológico [Otros]',
				],
		opt: ['No', 'Si']
	};
-
	var medSelect = {
		name: [
			'aine', 
			'paracetamol', 
			'insulina',
			'antihipertensivos',
			'estatinas',
			'antivirales',
			'asa',
			'rivaroxaban',
			'enoxaparina',
			'apixaban',
			'clopidogrel',
			'fondaparinux',
			'tigeciclina',
			'azitromicina',
			'ampicilina',
			'colistina',
			'tmp_smx',
			'metronidazol',
			'vacomicina',
			'ceftriaxona',
			'cefepime',
			'ceftazidima_avibactam',
			'ertapenem',
			'meropenem',
			'imipenem',
			'ciprofloxacino',
			'levofloxacino',
			'tazocin',
			'linezolid',
			'hidroxicloroquina',
			'fluticasona',
			'betametasona',
			'metilprednisolona',
			'prednisona',
			'hidrocortisona',
			'tocilizumab',
			'dexametasona',
			'ruxolitinib',
			'baricitinib',
			'oxolamina_guaifenesina',
			'arbistin_carbocisteína',
			'salmeterol',
			'salbutamol',
			'ambroxol',
			],
		text: [
			'AINE',
			'Paracetamol',
			'Insulina',
			'Antihipertensivos',
			'Estatinas',
			'Antivirales',
			'ASA',
			'Rivaroxaban',
			'Enoxaparina',
			'Apixaban',
			'Clopidogrel',
			'Fondaparinux',
			'Tigeciclina',
			'Azitromicina',
			'Ampicilina',
			'Colistina',
			'TMP-SMX',
			'Metronidazol',
			'Vacomicina',
			'Ceftriaxona',
			'Cefepime',
			'Ceftazidima/Avibactam',
			'Ertapenem',
			'Meropenem',
			'Imipenem',
			'Ciprofloxacino',
			'Levofloxacino',
			'Tazocin (Piper-tazo)',
			'Linezolid',
			'Ivermectina',
			'Hidroxicloroquina',
			'Fluticasona',
			'Dexametasona',
			'Betametasona',
			'Metilprednisolona',
			'Prednisona',
			'Hidrocortisona',
			'Tocilizumab',
			'Ruxolitinib',
			'Baricitinib',
			'Oxolamina y Guaifenesina',
			'ARBISTIN (carbocisteína)',
			'Salmeterol',
			'Salbutamol',
			'Ambroxol',
		],
		opt: ['No', 'Si']
	};
-
	var quimicaText = {
		name: [
			'ph',
			'pa_oxigeno',
			'pa_dioxido',
			'hco3',
			'lactato',
			'hemoglobina',
			'hematocrito',
			'leucocitos',
			'neutrófilos',
			'linfocitos',
			'plaquetas',
			'cloro',
			'potasio',
			'magnesio',
			'calcio',
			'fosforo',
			'a_urico',
			'bun',
			'creatinina',
			'glucosa',
			'urea',
			'b_total',
			'b_directa',
			'b_indirecta',
			'albumina',
			'f_alcalina',
			'tgp',
			'tgo',
			'hht',
			'pcr',
			'vsg',
			'tp',
			'ttp',
			'inr',
			'dimerod'
		],
		text: [
			'pH',
			'Presión alveolar de oxígeno - PaO2',
			'Presión alveolar de dióxido de carbono - PaCO2',
			'HCO3',
			'Lactato',
			'Hemoglobina',
			'Hematocrito',
			'Leucocitos',
			'Neutrófilos',
			'Linfocitos',
			'Plaquetas', 
			'Cloro',
			'Potasio',
			'Magnesio',
			'Calcio',
			'Fósforo',
			'Ácido úrico',
			'BUN',
			'Creatinina',
			'Glucosa',
			'Urea',
			'Bilirrubina total',
			'Bilirrubina directa',
			'Bilirrubina indirecta',
			'Albúmina',
			'Fosfatasa alcalina',
			'TGP',
			'TGO',
			'GGT',
			'PCR',
			'VSG', 
			'TP',
			'TTP',
			'INR',
			'Dímero D'
		],
		unit: [
			"",
			'mmHg',
			'mmHg',
			'mEq/L',
			'mmol/L',
			'g/dL',
			'%',
			'1000/mm3',
			'10^3/μ',
			'10^3/μ',
			'10^3/μ',
			'mEq/L',
			'mEq/L',
			'mEq/L',
			'mEq/L',
			'mEq/L',
			'mg/dL',
			'mg/dL',
			'mg/dL',
			'mg/dL',
			'mmol/L',
			'mg/dL',
			'mg/dL',
			'mg/dL',
			'gr/dL',
			'UI/L',
			'UI/L',
			'UI/L',
			'UI/L',
			"",
			'mg/dL',
			'mm/hr',
			'seg',
			'seg',
			"",
			"",
			],
	};
mixin input-text(id, text, placeholder)
	label.input(for=id)
		span.input__title=text 
		input(type="text", id=id, name=id, placeholder=placeholder required)

mixin input-select-place(id, text, opt1, opt2)
	.input-select
		span.input__title=text
		select(name=id, id=id)
			option(selected value="0")=opt1
			option(value="1")=opt2


mixin breadcrumbs(a1, bread1, a2, bread2, a3, bread3)
	nav.breadcrumbs__nav
		a(href="index.html") Inicio 
		a(href="./"+a1)=bread1 
		if a2 && bread2 
			a(href="./"+a2)=bread2 
		if a3 && bread3
			a(href="./"+a3)=bread3

mixin buttons-ancla--verde(text,href)
	.button--green 
		a(href="./"+href)= text
		i.material-icons arrow_forward